/* Page styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(135deg, #ff9ecf, #ffc3e6);
    font-family: 'Poppins', sans-serif;
    transition: background o.4s ease;
}

/* Calculator container */
.calculator {
    background: #f8f8f8;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    width: 90%;
    max-width: 350px;
}

.calculator:hover {
    box-shadow: 0 0 25px #ff7eb3;
}

/* Display */
#display {
    width: 100%;
    height: 65px;
    box-sizing: border-box;
    font-size: 22px;
    text-align: right;
    padding: 10px;
    font-family:'Poppins', sans-serif ;
    border-radius: 12px;
    border: none;
    margin-bottom: 15px;
    background:#ffe6f2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #333;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #f8c8dc;
    color: #2b2b3c;
    transition: all 0.2s;
    box-shadow: 0 5px #444;
}
 button {
      transition: 0.1s;
 }
button:hover {
    background: #ffb6c1;
    color:white;
    transform: translateY(-3px);
    box-shadow: 0 0 15px #ff66b2;
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 3px #444;
}

/* Clear and Delete buttons */
button:nth-child(1), button:nth-child(2) {
    background:#ff6b81;
    color:white;
}

/* Equal button */
button:last-child {
    background: hsl(339, 81%, 52%);
    color:white;
    grid-column: span 2;
}
 
.operator{
    background-color: #ff4ff81;
    color:white;
}

@media (max-width: 480px){
    .calculator{
        width:90%;
        padding: 15px;
    }
    .calculator button {
        padding: 12px;
        font-size: 16px; 
    }
    }


    .page{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 400px;
    }


    .main-title{
       text-align: centre;
       top: 15px;
       color:#f806ab;
        font-weight: 600;
        font-size: 24px;
        letter-spacing: 1px;
        text-shadow: 0 2px 10px rgbo(255, 182, 193, 0.4);
    }
    .credit {
       position: absolute;
        bottom:2px;
        right: 20px;
        color: #cb859e;
        opacity: 0.8;
        font-size: 14px;
        font-weight: 400;
        
    }
    .theme-btn{
        position:absolute;
        top: 20px;
        right: 30px;
        padding: 8px 12px;
        border: none;
        border-radius: 20px;
        background: #ffffff80;
        cursor: pointer;
        font-size: 16px;
    }

    .dark-mode {
        background: linear-gradient(to right,#2c3e50, #4ca1af);
    }
    
    .dark-mode .calculator {
        background: #1e1e1e;
        box-shadow: 0 0 25px rgba(0,0,0,0.6);
    }
    .dark-mode button {
        background: #2c2c2c;
        color: white;
    }
    
    .dark-mode button:hover {
        background: #3a3a3a;
    }

    body.dark-mode #display {
        background: #111;
        color: #00ffcc;
        box-shadow: 0 0 12px #00ffcc;
    }
